<%- include("../partials/header") %>


<div class="container formBackground">
    <div class="text-center row justify-content-center">
        <div id="myform">
            <h1>Login!</h1>

            <form action="/login" method="POST">

                <div class="form-group">
                    <label for="usernameForm">Enter Username</label>
                    <input class="form-control" type="text" name="username" id="usernameForm" placeholder="username">
                </div>
                <div class="form-group">
                    <label for="passwordForm">Enter Password</label>
                    <input  class="form-control" type="text" name="password" id="passwordForm" placeholder="password">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-block btn-warning">Submit!</button>
                </div>
            </form>
            <a href="/champions">Go Back!</a>
        </div>
    </div>
</div>


<%- include("../partials/footer") %>