body {
    background-color: #F5F4F0;
    font-family: 'Asap', sans-serif
}

.jumbotron {

    background: none;
    text-align: center;
    padding-bottom: 0%;
    margin-bottom: 0%;

}

.card {
    /* background-color: rgba(255,205,145,10); */
    background-color: clear;

}
   

.card-body {
    text-align: center;

    margin: 0 auto;
    
}

.container {
    text-align: center;
    margin: auto;
}

hr {
    
    border: 5px solid yellow;
}

.myform {
    width: 30%;
    margin: auto auto;
    padding-top: 0.5rem;
}

.formBackground{
    margin: 100px auto;
    background-color: darkgreen;
    color: yellow;
}

.delete-form{
    display: inline;
}

.bg-transparent {
    transition: background-color 0.5s;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

.bg-dark {
    transition: background-color 0.5s;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

.bg-green {
    transition: background-color 0.5s;
    background-color: darkgreen;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);

}

#champions {
    background-color: black;
}

#champions h3 {
    font-size: 2.5rem;
    color: green;
    font-family: 'Dancing Script', cursive;
   
}

#champions h1 {
    font-size: 4.5rem;
    font-family: 'Arimo', sans-serif;
    color:white;
}

#champions h5 {
    
    color: grey;
}

#champName h5 {
    color: green;
}

#intoParagraph {
    background-color: black;
    color: white;
}

#mid {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#intoPart1 {
    background-color: darkgreen;
}
