
      <%- include("../partials/header") %>

      <div class="container">
        <div class="jumbotron">
          <h1>North American Green Book</h1>
          <h3>Champions</h3>
        </div>

        <hr/>

        <div class="jumbotron">
            <h1>North American Green Book</h1>
            <h3>Champions</h3>
          </div>
  
          <hr/>

          <div class="jumbotron">
            <h1>North American Green Book</h1>
            <h3>Champions</h3>
          </div>
  
          <hr/>

          <div class="jumbotron">
            <h1>North American Green Book</h1>
            <h3>Champions</h3>
          </div>
  
          <hr/>

          <div class="jumbotron">
            <h1>North American Green Book</h1>
            <h3>Champions</h3>
          </div>
  
          <hr/>

          <div class="jumbotron">
            <h1>North American Green Book</h1>
            <h3>Champions</h3>
          </div>
  
          <hr/>

          <div class="jumbotron">
            <h1>North American Green Book</h1>
            <h3>Champions</h3>
          </div>
  
          <hr/>

          <div class="jumbotron">
            <h1>North American Green Book</h1>
            <h3>Champions</h3>
          </div>
  
          <hr/>

          <div class="jumbotron">
            <h1>North American Green Book</h1>
            <h3>Champions</h3>
          </div>
  
          <hr/>

          <div class="jumbotron">
            <h1>North American Green Book</h1>
            <h3>Champions</h3>
          </div>
        
          <hr/>

          <div class="jumbotron">
            <h1>North American Green Book</h1>
            <h3>Champions</h3>
          </div>
  
          <hr/>

          <div class="jumbotron">
            <h1>North American Green Book</h1>
            <h3>Champions</h3>
          </div>
  
          <hr/>

          <div class="jumbotron">
            <h1>North American Green Book</h1>
            <h3>Champions</h3>
          </div>
  
          <hr/>





       

      </div>
      
<%- include("../partials/footer") %>