<%- include("../partials/header") %>

<div class="container formBackground rounded">
    <div class="row text-center">
        <div class="myform">
            <h1>Welcome New Champion</h1>
            <h3>Enter your Information Below!!</h3>
           

            <form action="/champions" method="POST">

                <div class="form-group">
                    <label for="nameForm">Enter your Name</label>
                    <input class="form-control" type="text" name="name" id="nameForm" placeholder="name">
                </div>
                <div class="form-group">
                    <label for="proForm">Enter your Field of Expertise</label>
                    <input class="form-control" type="text" name="profession" id="proForm" placeholder="profession">
                </div>
                <!-- Make this a select option drop down that list all professions and also offers an other option that will allow for a typed in response -->
                <div class="form-group">
                    <label for="proTForm">Enter your Profession Title</label>
                    <input class="form-control" type="text" name="professionalTitle" id="proTForm" placeholder="profession">
                </div>
                <div class="form-group">
                    <label for="imageForm">Enter your Image url</label>
                    <input  class="form-control" type="text" name="image" id="imageForm" placeholder="image url">
                </div>
                <div class="form-group">
                    <label for="detailForm">Describe Yourself</label>
                    <input  class="form-control" type="text" name="details" id="detailForm" placeholder="describe Yourself!!">
                </div>
                <div class="form-group">
                    <label for="emailForm">Enter Email addesss</label>
                    <input  class="form-control" type="text" name="email" id="detailForm" placeholder="email">
                </div>
                <div class="form-group">
                    <label for="phoneForm">Enter Contact Number</label>
                    <input  class="form-control" type="text" name="phone" id="phoneForm" placeholder="phone number">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-block btn-warning">Submit!</button>
                </div>
            </form>
            <a href="/champions">Go Back!</a>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>